:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
.special-heading {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.special-heading::before {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 120px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.special-heading::after {
    content: "";
    border: 2px #333 solid;
    border-radius: 50%;
    position: absolute;
    bottom: -38px;
    width: 14px;
    height: 14px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.special-heading+p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
    text-align: center;
}

/* Start Navbar Section */
.header {
    position: absolute;
    left: 2;
    z-index: 2;
    width: 100%;
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
}

.header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    background-color: #a2a2a2;
    left: 15px;
}

.header .container .logo {
    height: 40px;
}

.header .container .list ul li {
    list-style: none;
}

.header .container .list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .container .list ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 40px 10px;
    color: white;
    position: relative;
    z-index: 888;
}

.header .container .list ul li a:hover,
.header .container .list ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header .container .list ul {
    display: flex;
}

@media (max-width: 767px) {
    .header .container .list ul {
        display: none;
    }

    .header .container .list .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 98px;
        left: 0;
        width: calc(100%);
    }

    .header .container .list ul li a {
        padding: 15px 15px;
    }
}

.header .container .list .search {
    position: relative;
    left: 0;
    border-left: 1px solid white;
    margin-left: 30px;

}

.header .container .list .search i {
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.header .container .list .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    .header .container .list .toggle-menu {
        display: none;
    }
}

/* End Navbar Section */
/* Start Landing Section */
.landing {
    background-image: url(/images/landing.jpg);
    background-size: cover;
    height: 100vh;
}

.landing .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    height: 100vh;
}

.landing .text {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .change-background {
        display: none;
    }

    .landing .text .content {
        max-width: 100% !important;
    }
}

.landing .text .content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

@media (max-width: 1199px) {
    .landing .fa-angle-left {
        left: 15px;
    }

    .landing .fa-angle-right {
        right: 15px;
    }
}

.bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.bullets li {
    width: 20px;
    height: 20px;
    border: 1px white solid;
    padding: 0 7px;
    margin: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: transparent;
}

ul .light {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Landing Section */
/* Start services Section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }

}

.services .services-container .card {
    display: flex;
}

.services .services-container .card .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .container .card .text p {
    color: var(--main-color);
    line-height: 2;
    color: #777;
}

.services .services-container .card i {
    margin-right: 50px;
}

@media (max-width:767px) {
    .services .services-container .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .services-container .card i {
        margin-right: 0;
        margin: 0 0 30px;
    }

    .services .services-container .card .text h3 {}
}

/* End services Section */
/* Star design Section */

.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 600px;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .container {
    padding-left: 0px;
    padding-right: 0px;
}

.design .container ul li {
    list-style: none;
    padding: 15px;
}

.design .container ul li::before {
    content: "";
}

.line {
    display: flex;
    align-items: center;
}

.design .text {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 767px) {
    .design .text {
        width: 100% !important;
    }

    .design img {
        display: none;
    }
}

.design img {
    position: absolute;
    top: 35%;
}

.design .text {
    display: flex;
    flex-direction: column;
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* End design Section */
/* Start portfolio Section */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .container ul li {
    list-style: none;
    padding: 10px;
}

.portfolio .container ul .light {
    color: white;
}

.portfolio .container ul {
    display: flex;
    justify-content: center;
}

/* Start Portfolio-Image Section */
.portfolio-image {
    padding-bottom: var(--section-padding);
}

.portfolio-image .image-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-image .image-container .image-card {
    width: 25%;
    position: relative;
    overflow: hidden;

}

.portfolio-image .image-container .image-card img {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    width: 100%;
}

.portfolio-image .image-container .image-card:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}

.portfolio-image .image-container .image-card .caption {
    position: absolute;
    bottom: -100px;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolio-image .image-container .image-card:hover .caption {
    bottom: 0;
}

.portfolio-image .image-container .image-card .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;

}

.portfolio-image .image-container .image-card .caption p {
    color: var(--main-color);
}

.portfolio-image .image-container div:last-child {
    margin-top: 30px;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
    text-transform: uppercase;
}

.portfolio-image .image-container div:last-child a {
    text-decoration: none;
    color: white;
}

/* End Portfolio-Image Section */
/* End Portfolio Section */
/* Start Video Section */
.video {
    position: relative;
}

.video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3px);
    background-color: rgb(0 0 0 / 60%);
}

.video video {
    width: 100%;
}

.video .text {
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    padding: 10px 20px;
    background-color: black;
    text-transform: uppercase;
    border: none;
    color: white;
}

/* End Video Section */
/* Start about Section */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
    overflow: hidden;

}

.about .container img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}

@media (max-width:767px) {
    .about .container img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End about Section */
/* Start Stats Section */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
}

.stats::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .record {
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .stats .container .record {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .record {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .record {
        flex-basis: 25%;
    }
}

.stats .container .record h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .record p {
    font-size: 14px;
}

.stats .container .record i {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

/* End Stats Section */
/* Start our-skills Section */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-skills .container .testimonials {
    position: relative;
}

@media (min-width: 992px) {
    .our-skills .container .testimonials {
        flex-basis: 45%;
    }

    .our-skills .container .skills {
        flex-basis: 45%;
    }

}

.our-skills .container .testimonials h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills>.container>.testimonials>p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .container .testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-skills .container .testimonials .testimonials-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.our-skills .container .testimonials .testimonials-content .text {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin-left: 50px;

}

.our-skills .container .testimonials .testimonials-content .text :first-child {
    line-height: 1.8;
}

.our-skills .container .testimonials .testimonials-content .text :last-child {
    align-self: flex-end;
    color: #777;
    line-height: 2;
    text-align: center;
}

.our-skills .container .testimonials .bullet {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .container .testimonials ul li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    list-style: none;
    margin: 5px;
}


@media (max-width: 991px) {
    .our-skills .container .skills {
        margin: 0 auto;
    }
}

.our-skills .container .skills h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container .skills p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .container .skills-content {
    margin-bottom: 40px;
}

.our-skills .container .skills-content h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .container .skills-content .bar {
    width: 100%;
    height: 30px;
    position: relative;
}

.our-skills .container .cont-1 .bar {
    background-image: linear-gradient(to right, var(--main-color) 90%, #DDD 90%);
}

.our-skills .container .cont-1 .bar::before {
    background-color: black;
    position: absolute;
    content: "90%";
    top: -37px;
    left: calc(90% - 20px);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.our-skills .container .cont-1 .bar::after {
    border: 10px solid;
    border-color: black transparent transparent;
    position: absolute;
    content: "";
    top: -10px;
    left: calc(90% - 10px);

}

.our-skills .container .cont-2 .bar {
    background-image: linear-gradient(to right, var(--main-color) 85%, #DDD 85%);
}

.our-skills .container .cont-2 .bar::before {
    background-color: black;
    position: absolute;
    content: "85%";
    top: -37px;
    left: calc(85% - 20px);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.our-skills .container .cont-2 .bar::after {
    border: 10px solid;
    border-color: black transparent transparent;
    position: absolute;
    content: "";
    top: -10px;
    left: calc(85% - 10px);

}

.our-skills .container .cont-3 .bar {
    background-image: linear-gradient(to right, var(--main-color) 80%, #DDD 80%);
}

.our-skills .container .cont-3 .bar::before {
    background-color: black;
    position: absolute;
    content: "80%";
    top: -37px;
    left: calc(80% - 20px);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.our-skills .container .cont-3 .bar::after {
    border: 10px solid;
    border-color: black transparent transparent;
    position: absolute;
    content: "";
    top: -10px;
    left: calc(80% - 10px);

}

.our-skills .container .cont-4 .bar {
    background-image: linear-gradient(to right, var(--main-color) 90%, #DDD 90%);
}

.our-skills .container .cont-4 .bar::before {
    background-color: black;
    position: absolute;
    content: "90%";
    top: -37px;
    left: calc(90% - 20px);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.our-skills .container .cont-4 .bar::after {
    border: 10px solid;
    border-color: black transparent transparent;
    position: absolute;
    content: "";
    top: -10px;
    left: calc(90% - 10px);

}

/* End skills Section */

/* Start quote Section */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
}

.quote::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;
}

.quote .container {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

.quote .container q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

/* End quote Section */
/* Start pricing Section */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .container .pricing-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 30px;
    text-align: center;
}

.pricing .container .pricing-content .plan {
    background-color: #fcfcfc;
    margin-bottom: 20px;
}

.pricing .container .pricing-content .head {
    padding: 40px 20px;
    border: 1px solid;
    border-color: var(--main-color) transparent;

}

.pricing .container .pricing-content .head h3 {
    font-weight: normal;
    margin-bottom: 20px;

}

.pricing .container .pricing-content .head p {
    padding-top: 20px;
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

.pricing .container .pricing-content ul li {
    list-style: none;
    padding: 20px 0;
    position: relative;
}

.pricing .container .pricing-content ul li:not(:last-child)::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.pricing .container .pricing-content ul li:last-child {
    border-bottom: 1px solid var(--main-color);
}

.pricing .container .pricing-content .plan div:last-child {
    padding: 50px 0;
}

.pricing .container .pricing-content .plan a {
    text-decoration: none;
    border: 1px solid var(--main-color);
    padding: 20px 20px;
}

.contact-card {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.contact-card a {
    position: relative;
    top: 30px;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 15px 30px;
    color: white;
}

.pricing .container .contact-card p {
    font-size: 20px;
}

/* End pricing Section */
/* Start subscribe Section */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}

.subscribe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

.subscribe .container {
    position: relative;
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
}

.subscribe .container p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .subscribe .container p {
        margin: 30px 0 0;
    }
}

.subscribe .container form {
    position: relative;
    width: 500px;
    max-width: 100%;
    display: flex;
}

.subscribe .container input[type=email] {
    border: 1px white solid;
    background-color: transparent;
    color: white;
    padding: 20px 20px 20px 60px;
    width: calc(100% - 130px);
    border-right: none;
    caret-color: var(--main-color);

}

.subscribe .container input[type=email]::placeholder {
    color: white;
}

.subscribe .container input[type=submit] {
    width: 130px;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-left: none;
}

.subscribe .container i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

/* End subscribe Section */
/* Start Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)*1.5);
}

.contact .contact-content {
    display: flex;
    justify-content: space-between;
}

.contact .contact-content .details {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.contact .contact-content .details input,
textarea {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
}

.contact .contact-content .details textarea {
    height: 200px;
    margin-bottom: 0;
}

.contact .contact-content .info {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.contact .contact-content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .contact-content .info p {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .contact-content .info .adress {
    font-style: italic;
    line-height: 2;
}

.contact .container .cont  {
    position: relative;
}

.contact .container .cont a {
    padding: 20px;
    display: block;
    width: fit-content;
    position: absolute;
    right: 30%;
    margin-top: -30px;
}

@media (max-width: 767px) {
    .contact .contact-content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    .contact .contact-content .info div:last-child h4{
        margin-top: 30px;
    }
    .contact .contact-content .info {
        align-items: center;
    }
    .contact .contact-content .info .adress {
        margin-bottom: 20px;
    }
    .contact .container .cont a {
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}

@media (min-width: 768px) {
    .contact .contact-content .info {
        flex-basis: 25%;
    }

}
/* End Contact Section */

/* Start Footer Section */
.foot {
    padding-top: calc(var(--section-padding) /2) ;
    padding-bottom: calc(var(--section-padding) /2);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}

.foot::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}
.foot .container {
    z-index: 1;
    text-align: center;
    color: white;
    position: relative;
}
.foot .container img{
    margin-bottom: 20px;
}
.foot .container span{
    color: var(--main-color);
}
.foot .container h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px solid white;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
}
.foot .container ul {
    display: flex;
    justify-content: center;
}
.foot .container ul li{
    list-style: none;
}
.foot .container ul li i{
    padding: 10px 15px;
}
.foot .container p{
    margin-top: 60px;
}


/* End Footer Section */